<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logoeh.png">
    <title>Espacio HOLOS | Asociacion Civil</title>
</head>
<body>
    <h1>Bienvenidos a Espacio Holos</h1>
    <header>
        <div class="logo">
          <img src="/src/public/logoeh.png" alt="Logo de la página">
        </div>
        <nav>
          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Nuestros cursos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <div class="user-buttons">
          <button class="login">Iniciar sesión</button>
          <a href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </header>
      
</body>
</html>